# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/
.next/
*.egg-info/

# Logs
*.log

data/*.db
.venv-1/

.ruff_cache/
.mypy_cache/
